<div class="container">
  <div class="row">
    <h1 class="text-center">JUNK DRAWER</h1>
    <h5 class="text-center">SHOW OFF YOUR MEMO BOOKS</h5>
  </div>
  <div class="row">
    <ul class="nav navbar-nav text-uppercase">
      {{#link-to 'memo-books' tagName="li"}}<a href="">Previous memo books</a>{{/link-to}}
      {{#link-to 'about' tagName="li"}}<a href="">About</a>{{/link-to}}
    </ul>
  </div>
  {{outlet}}
</div>
